<nav class="bg-slate-900 text-white p-4 shadow-lg">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-xl font-bold italic tracking-tighter">NireApp</h1>
    
    <div class="space-x-6">
      <a routerLink="/bezeroak" routerLinkActive="text-blue-400" class="hover:text-blue-300 transition cursor-pointer">Bezeroak</a>
      <a routerLink="/produktuak" routerLinkActive="text-blue-400" class="hover:text-blue-300 transition cursor-pointer">Produktuak</a>
    </div>
  </div>
</nav>
